<!DOCTYPE html>
<html>
    <body>
    <div style="padding-left: 16px;">
    <br></br>
    <a href="/account">Account</a> > <a href="/account/<%=current_user.id%>/edit/name">Login & Security</a> > <a href="/account/<%=current_user.id%>/edit/name">Name</a>
    <h1>Change your name</h1>
    <div class="form-bottom">
        <form role="form" action="/account/<%= current_user.id%>/edit/name" method="post" class="signup-form">
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <div class="form-group">
                <label class="sr-only" for="form-username">Username</label>
                <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username" value="<%= current_user.username%>">
            </div>
            <br></br>
            <button type="submit" class="btn">Update</button>       
        </form>
    </div>
    </body>
</html>
