<!DOCTYPE html>
<html>
    <body>
    <div style="padding-left: 16px;">
    <br></br>
    <a href="/account">Account</a> > <a href="/account/<%=current_user.id%>/edit/orders">Orders</a>
    <h1>Orders</h1>
    <%Product.set_columns(["Product Name","Price","Quantity"])%>
    <%Product.set_cells(["price","quantity", "owner_id"])%>
    <%=erb :'/shared/table'%>    
    </body>
</html>
