<!DOCTYPE html>
<html>
    <body>
    <div style="padding-left: 16px;">
    <br></br>
    <a href="/account">Account</a> > <a href="/account/<%=current_user.id%>">Login & Security</a> > <a href="/account/<%=current_user.id%>/edit/password">Password</a>
    <h1>Change your password</h1>
    <div class="form-bottom">
		<div class="form-group">
			<label class="sr-only" for="password">New Password</label>
			<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password" value="<%= current_user.password%>">
		</div>
		<button type="submit" class="btn">Update</button>
    </div>

    </body>
</html>
