<!DOCTYPE html>
<html>
   <body>
      <div style="padding-left: 16px;">
      <h1>Sign Up</h1>
      <form action="/signup" method="POST">
         <p>Name: <input type="text" name="username"></p>
         <p>Password: <input type="password" name="password"></p>
         <input class="btn btn-primary" type="submit">
      </form>
   </body>
</html>