<!DOCTYPE html>
<html>
   <body>
      <div style="padding-left: 16px;">
         <h1>Sell Something</h1>
         <form action="/products" method="POST">
            <p>Product Name: <input type="text" name="productname"></p>
            <p>Price: <input type="number" name="price"></p>
            <p>Quantity: <input type="number" name="quantity"></p>
            <input class="btn btn-primary" type="submit">
         </form>
      </div>
   </body>
</html>